header{
    border: 1px solid black;
    width: 1180px;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    padding: 10px;
}
nav{
    display: flex;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
     
}
a{
    text-decoration: none;
}
span{
    color: grey;
    font-size: smaller;
    /* margin-left: 50px; */

}
.fa-house-medical{
    font-size: xx-large;
    color: blue;
    /* margin-left: 10px; */
    
}
.woox{
    font-size: medium;
    font-weight: bolder;
}
.logo{
    display: flex;
}
#icon{
    display: none;
}
.bg{
    border: 1px solid black;
    width: 1200px;
    height: 550px;
    background-image: url(doc.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 550px;
}
.b1{
    border: 1px solid black;
    height: 40px;
    width: 170px;
    border-radius: 20px;
    margin-left: 105px;
    margin-top: 100px;
    text-align: center;
    padding-top: 15px;
}
.b2{
    border: 1px solid black;
    height: 40px;
    width: 170px;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: -55px;
    text-align: center;
    padding-top: 15px;


}
h1{
    margin-left: 100px;
    margin-top: 100px;
}
p{
    margin-left: 105px;
    margin-top: 50px;
}
@media (max-width:770px){
    /* nav{display: none;}
    #icon{display: flex;
    margin: 10px;} */
    .bg{
        
        width: 770px;
        height: 500px;
        background-image: url(doc.jpg);
        background-repeat: no-repeat;
        background-size: 770px 500px;
    }
    .b2{
        margin-left: 80px;
        margin-top: 40px;
}
.b1{
    
    margin-left: 80px;
    margin-top: 50px;
}
p{
    margin-left: 10px;
    margin-top: 50px;
}
h1{
    margin-left: 8px;
    margin-top: 100px; }
    header{
        width: 750px;
        
    }}
@media (max-width:400px){
    nav{display: none;}
    #icon{display: flex;
    margin: 10px;}
    .bg{
        
        width: 400px;
        height: 500px;
        background-image: url(doc.jpg);
        background-repeat: no-repeat;
        background-size: 400px 500px;
    }
    .b2{
        margin-left: 80px;
        margin-top: 40px;
}
.b1{
    
    margin-left: 80px;
    margin-top: 50px;
}
p{
    margin-left: 10px;
    margin-top: 50px;
}
h1{
    margin-left: 8px;
    margin-top: 100px; }
    header{
        width: 380px;
        
    }}

   